.banner-particles {
    background: black;
}
.animation {
    position: relative;
    font-size: 4vw;
    color: #252839;
    -webkit-text-stroke: .3vw #000;
}
.animation::before {
    content: attr(data-text);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    color: #ff0000;
    -webkit-text-stroke: .0vw #ff0000;
    border-right: 2px solid #ff0000;
    overflow: hidden;
    animation: farid 6s linear infinite;
}

@keyframes farid {
    0%,10%,100% {
        width: 0;
    }
    30% {
        width: 20%;
    }
    70%,90% {
        width: 85%;
    }
}